section.col-sm-6.col-sm-offset-3
  form.form-horizontal.form-small(data-ng-submit='create()', novalidate='novalidate')
    section.panel
      header.panel-heading
        span.h4 Create New Attribute
      .panel-body
        include _form-fields

      footer.panel-footer.text-right.bg-light.lter
        button.btn.btn-primary(type='submit') Save
