extends ../layouts/default

block content
    div.alert.alert-info
        p
            | Hello #{patient.name},
            br
            | You've already activated your account,
            br
            | Please
            = ' '
            a(href='/signin') login
            = ' '
            | with your account.

        p
            | If you do not remember your password please
            = ' '
            a(href='/resetpassword') reset
            = ' '
            | your password.
            br
            | The new password will be sent to your email(#{patient.email}) address.
