.form-small .control-label {
  width: 100px;
}

.form-small .form-control {
  width: 220px;
}

.form-medium .control-label {
  width: 180px;
}

.form-medium .form-control {
  width: 200px;
}

.form-xlarge .control-label {
  width: 240px;
}

.form-xlarge .form-control {
  width: 260px;
}
